<div class="index-show">

    <h1>Add Your New Merchant</h1>

        <ul class="break">
            <li>
                <form action="/merchants" method="post">

                <label></label>
                <input id="merchantInput" type="text" name="name" placeholder="e.g. Apple">

                <br>
                <br>

                <input type="submit" value="Add">

                </form>
            </li>
        </ul>

</div>