<div class="index-show">

    <h1>Your Merchant</h1>

    <form action="/merchants" method="get">
        <input type="submit" value="Back">
    </form>

        <ul>
            <li>
                <br>
                <br>

                <%= @merchant.name %>
                
                <br>
                <br>

                Total Expenses by <%= @merchant.name %>:

                <% merchant_balance = 0 %>
                <% @transactions.each do |transaction| %>
                <% if transaction.category_id == @merchant.id.to_i %>
                <% merchant_balance += transaction.amount %>
                <% end %>
                <% end %>

                <br>

                <%= sprintf "%.2f", merchant_balance %>£
            </li>
        </ul>

</div>