<main class="wrapper">

  <div class="home">
    <h1>Your Expenses</h1>
    <br>

    <p>You want to check your latest expenses?
      <form action="/transactions" method="get">
        <input type="submit" value="Click Here">
      </form>
    </p>

    <br>

    <p>Or, maybe you need to add new expenses to your list?
      <form action="/transactions/new" method="get">
        <input type="submit" value="Click Here">
      </form>
    </p>
  </div>

  <div class="home">
    <h1>Your Merchants</h1>
    <br>

    <p>You want to check all the merchants from your expenses?
      <form action="/merchants" method="get">
        <input type="submit" value="Click Here">
      </form>
    </p>

    <br>

    <p>To add a new merchant for your future expenses
      <form action="/merchants/new" method="get">
        <input type="submit" value="Click Here">
      </form>
    </p>
  </div>

  <div class="home">
    <h1>Your Categories</h1>
    <br>

    <p>You want to check all the categories?
      <form action="/categories" method="get">
        <input type="submit" value="Click Here">
      </form>
    </p>

    <br>

    <p>To add a new category
      <form action="/categories/new" method="get">
        <input type="submit" value="Click Here">
      </form>
    </p>
  </div>

  <div class="home">
    <h1>Your Incomes</h1>
    <br>
    
    <p>Would you like to check your sources of income
      <form action="/income" method="get">
        <input type="submit" value="Click Here">
      </form>
    </p>

    <br>

    <p>To add a new income
      <form action="/income/new" method="get">
        <input type="submit" value="Click Here">
      </form>
    </p>
  </div>

  <div class="home">
    <h1>Your Current Balance</h1>
    <br>

    <p><b>Never</b> forget to check your current balance!
      <form action="/account" method="get">
        <input type="submit" value="Click Here">
      </form>
    </p>
  </div>

</main>