<div class="index-show">

    <h1>Add Your New Source of Income</h1>

        <ul class="break">
            <li>
                <form action="/income" method="post">

                <label></label>
                <input id="amountInput" type="text" name="amount" placeholder="e.g. 100">

                <br>
                <br>

                <label></label>
                <input id="sourceInput" type="text" name="type" placeholder="e.g. Source">

                <br>
                <br>

                <label></label>
                <input id="dateInput" type="date" name="income_date" placeholder="e.g. yyyy-mm-dd">

                <br>
                <br>

                <input type="submit" value="Add">

                </form>
            </li>
        </ul>

</div>