<div class="index-show">

    <h1>Your Income</h1>

    <form action="/income" method="get">
        <input type="submit" value="Back">
    </form>

        <ul>
            <li>
                <br>
                <br>

                <%= sprintf "%.2f", @income.amount %>£
                
                <br>
                <br>

                <%= @income.type %>

                <br>
                <br>

                <%= @income.income_date %>
            </li>
        </ul>

</div>