<div class="index-show">

    <h1>Edit Your Category</h1>

        <ul class="break">
            <li>
                <form action="/categories/<%= @category.id %>" method="post">

                <br>
                <br>

                <label></label>
                <input id="categoryInput" type="text" name="name" placeholder="e.g. Food" value="<%= @category.name %>">

                <br>
                <br>
                
                <input type="submit" value="Update">

                </form>
            </li>
        </ul>

</div>