<div class="index-show">

    <h1>Add Your New Category</h1>

        <ul class="break">
            <li>
                <form action="/categories" method="post">

                <label></label>
                <input id="categoryInput" type="text" name="name" placeholder="e.g. Entertainment">

                <br>
                <br>

                <input type="submit" value="Add">

                </form>
            </li>
        </ul>

</div>