<div class="index-show">

    <h1>Your Category</h1>

    <form action="/categories" method="get">
        <input type="submit" value="Back">
    </form>

        <ul>
            <li>
                <br>
                <br>

                <%= @category.name %>
                
                <br>
                <br>

                Total Expenses by <%= @category.name %>:

                <% category_balance = 0 %>
                <% @transactions.each do |transaction| %>
                <% if transaction.category_id == @category.id.to_i %>
                <% category_balance += transaction.amount %>
                <% end %>
                <% end %>

                <br>

                <%= sprintf "%.2f", category_balance %>£
            </li>
        </ul>

</div>